<div class="d-flex text-center" style="max-height: 95dvh; overflow-y: scroll;">
    <main class="px-3" style="justify-content: center; width: 100%; margin-top: 10rem;">
        <h1>Programmable Trackpad - Group 18</h1>
        <p class="lead">UCF Senior Design Project - Spring 2023</p>
        <p class="lead">Taylor Barnes (CpE), Jonah Halili (CpE), Brian Modica (CpE), Bradley Vanderzalm (CpE)</p>
        <p style="margin-left: 10rem; margin-right: 10rem; margin-top: 3rem; font-style: italic;">
            The programmable trackpad is a device that assists the productivity of PC users by implementing shortcut macro keys and
            rotary encoders in a trackpad device which serves as a replacement for a programmable mouse. This device gives users a
            method for performing common actions and opening frequently-used applications with a single button press. Users can
            program these shortcuts themselves with a simple computer application that requires no specialized knowledge. Now, PC
            users who prefer a trackpad can take advantage of the same convenience one would receive from a programmable mouse.
        </p>
        <img src="../../../assets/home-screen-image.png" alt="final-design" style="width: 30rem;">
      </main>
</div>
