<div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 280px; height: 100vh;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <i class="fa-solid fa-microchip fa-3x"></i>
        <span class="fs-4" style="margin-left: 1rem;">Group 18 Senior Design Project 2023</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a href="#" class="nav-link active" aria-current="page">
                <i class="fa-solid fa-house-chimney" style="margin-right: 0.5rem;"></i>
                Home
            </a>
        </li>
        <li>
            <a href="#" class="nav-link text-white">
                <i class="fa-solid fa-address-card" style="margin-right: 0.5rem;"></i>
                About
            </a>
        </li>
        <li>
            <a href="#" class="nav-link text-white">
                <i class="fa-solid fa-file" style="margin-right: 0.5rem;"></i>
                Papers
            </a>
        </li>
        <li>
            <a href="#" class="nav-link text-white">
                <i class="fa-solid fa-video" style="margin-right: 0.5rem;"></i>
                Video/Demos
            </a>
        </li>
        <li>
            <a href="#" class="nav-link text-white">
                <i class="fa-solid fa-code-branch" style="margin-right: 0.5rem;"></i>
                Github
            </a>
        </li>
        <hr>
    </ul>
</div>
